*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(226, 43%, 10%);
    height: 100vh;
}

.container{
    display: grid;
    margin: 200px;
    grid-template-columns: repeat(4,1fr);
    

    

}
.menu{
    background-color: hsl(246, 80%, 60%);
    margin: 10px ;
    color: white;
    display: flex;
    flex-direction: column;
    width: 15vw;
    
    align-items: left;
    justify-content: space-around;
    border-radius: 20px;
    
    
    
    

}
.menu img{
    width: 5vw ;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 30px;
}
.menu header
{
    display: flex;
 
 margin-bottom: 10px;
 margin-top: 10px;
 flex-direction: column;
 width: 150px;
 margin-left: 30px;
}
.menu header p{
    opacity: 50%;
}
.menu header h2{
    font-size: 2em;
}

.options {
    
    display: flex;
    

width: 100%;
background-color: hsl(235, 46%, 20%);
border-radius: 10px;
margin-top: auto;
 flex-direction: column;
    
    padding-left: 30px;
    align-items: flex-start;
  
}
.options a{
    
    display: flex;
   color: aliceblue;
    
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 20px;
    transition: 2s;
}
.options a:hover{
    transform: translateY(-10px);
    color: gray;
}

.card{
    background-color: aquamarine;
    margin: 10px ;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 10px;
    color: white;
    
}
.card header{
   
    display: flex;
    justify-content: space-between;
    margin: 10px;
    

}
.data{
    
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
   
}
.menu{
    grid-column: 1;
    grid-row: 1/3;
}
.box{
    margin-top: 30px;
    background-color: hsl(235, 46%, 20%);
    z-index: 10000;
    padding-bottom: 41px;
    border-radius: 9px;
}
.card:nth-child(2)
{
    background-color: hsl(15, 100%, 70%);
}
.card:nth-child(3)
{
    background-color: hsl(195, 74%, 62%)

}
.card:nth-child(4)
{
    background-color: hsl(348, 100%, 68%)
 ;
}
.card:nth-child(5)
{
    background-color:  hsl(145, 58%, 55%)
;
}
.card:nth-child(6)
{
    background-color:   hsl(264, 64%, 52%)
;
}
.card:nth-child(7)
{
    background-color: hsl(43, 84%, 65%); ;
}
.bg-image{
    position: absolute;
    width: 3vw;
    align-self:self-end;
}
.data h2{
    font-weight: 800;
    font-size: 2em;
}
.data p{
    opacity: 50%;
    font-size: 0.8em;
}